.rmainContainer{
    width: 50%;
    height: 850px;
    margin: 100px auto;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-family: "Manrope", sans-serif;
    z-index: 5;
    position: relative;
}
.rformContainer{
    width: 80%;
    height: 90%;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: left;
    padding: 50px;
    box-shadow: 0px 0px 50px #dfdfdb;

}
.label{
    width: 100%;
    font-weight: 600;
    color: #638595;
}
.input{
    width: 100%;
    height: 50px;
    box-shadow: 0px 0px 30px #e9e0d1;
    border-radius: 20px;
    border: solid 1px #F1F0E8;
    margin: 10px 0 30px;
    padding: 5px 5px 5px 17px;
    font-size: 15.5px;

}
.input::placeholder{
    color: #cabaa1;
}
.formButton{
    width: 100%;
    height: 55px;
    background-color: #D9C39F;
    font-weight: 600;
    font-family: "Manrope", sans-serif;
    border-radius: 50px;
    border: solid 2px #D9C39F;
    color: white;
    font-size: 16px;
    transition: 250ms ease-in-out;
}
.formButton:hover{
    cursor: pointer;
    box-shadow: 0px 0px 50px #e3c189;
}
.underFormText{
    font-weight: 600;
    color:#638595;
}
.formLink{
    font-weight: 600;
    font-size: 16px;
    color:#D9C39F;
}
