.memoryContainer {
  width: 100%;
  height: 500px;
  font-family: "felt-tip-woman", sans-serif;
  transition: 250ms ease-in-out;
}
.memoryContainer:hover {
  transform: scale(1.03);
  cursor: pointer;
}

.memoryTitle {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  color: #334e58;
  font-weight: 500;
}
.memoryMedia {
  width: 100%;
  height: 420px;
  background-color: white;
  border: 15px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  box-shadow: 0px 0px 30px rgb(187, 187, 187);
}
.mediaContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
}
.postMediaImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.postMediaVideoMemory {
  width: 100%;
  background-color: white;
}
.memoryMedia p {
  font-size: 25px;
  color: #334e58;
}
.memoryMedia img {
  height: 100%;
}
.memoryDate {
  width: 100%;
  height: 50px;
  font-size: 17px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #334e58;
}
