.timelineContainer{
    width: 90%;
    margin: 100px auto 170px;
    position: relative;
    z-index: 2;;
    display: flex;
    justify-content: space-evenly;
}
.leftMemoryContainer, .rightMemoryContainer{
    width: 450px;
  ;
}
.leftMemory{
  margin-bottom: 450px;;
}
.rightMemory{
  margin-top: 450px;
}

