.mainDetailsContainer {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgb(191, 191, 191, 0.3);
  z-index: 8;
  top: 0;
  backdrop-filter: blur(4px);
  font-family: "Fustat", sans-serif;
  z-index: 16;
}
.detailsContainer {
  width: 80%;
  height: 80vh;
  background-color: white;
  margin: 5% auto;
  display: flex;
}
.mediaContainer,
.textContainer {
  width: 50%;
  height: 100%;
}
.mediaContainer {
  overflow: hidden;
}
.textContainer {
  padding: 25px;
}
.mediaContainer img {
  height: 100%;
}
.postMediaImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.postMediaVideo {
  width: 100%;
  height: 100%;
  background-color: black;
}
.topText {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-family: "felt-tip-woman", sans-serif;
  margin-bottom: 10px;
}
.postTitle {
  font-size: 32px;
  margin-bottom: 5px;
}
.close {
  font-size: 45px;
  color: #445961;
  font-weight: 800;
  margin-bottom: 10px;
}
.closeModal {
  transition: 250ms ease-in-out;
}
.closeModal:hover {
  cursor: pointer;
  transform: scale(1.1);
}
.memoryAuthor {
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: end;
  align-items: center;
  font-family: "felt-tip-woman", sans-serif;
}
.memoryAuthorAvatar {
  width: 40px;
  height: 40px;
  overflow: hidden;
  margin: 6px 6px 12px;
  border-radius: 150px;
}
.memoryAuthorAvatar img {
  height: 100%;
}
.bottomText {
  width: 100%;
  padding: 15px 0;
  border-top: 1px solid #d6d6d6;
}
.commentsContainer {
  width: 100%;
  height: 220px;
  overflow: scroll;
  border-top: 1px solid #d6d6d6;
  overflow-x: hidden;
}
.singleComment {
  width: 90%;
  margin: 20px 0;
  display: flex;
  flex-wrap: wrap;
}
.commentAuthorAvatar {
  width: 30px;
  height: 30px;
  border-radius: 150px;
  overflow: hidden;
}
.commentAuthorAvatar img {
  height: 100%;
}
.commentInfo {
  padding: 0 5px;
  font-size: 14px;
  color: #445961;
}
.comment {
  width: 100%;
  padding: 5px 0 10px;
  border-bottom: 1px solid #d6d6d6;
  text-align: justify;
  color: #445961;
  justify-content: center;
}
.commentsTitle {
  font-family: "felt-tip-woman", sans-serif;
  font-size: 23px;
}
.rightActions{
    width: 20%;
    display: flex;
    justify-content: end;
    align-items: center;
}

.editMemoryButton {
  margin: 0 5px 15px;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-size: 15px;
  z-index: 16;
  background-color: #445961;
  font-weight: 600;
  font-family: "Manrope", sans-serif;
  border-radius: 50px;
  border: solid 2px #445961;
  color: white;
  transition: 250ms ease-in-out;
}

.editMemoryButton:hover {
    cursor: pointer;
    background-color: white;
    color: #445961;
}
.commentInput{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
    position: sticky;
}
.commentInput textarea {
    width: 100%;
    height: 70px;
    border: 1px solid #d6d6d6;
    border-radius: 20px;
    padding: 15px 10px;
    font-size: 14px;
    color: #445961;
    font-family: "Manrope", sans-serif;
    resize: none;
    text-align: start;
}
.commentButton{
    padding: 10px 20px;
    margin: 0 0 0 5px;
    border: none;
    cursor: pointer;
    font-size: 15px;
    z-index: 16;
    background-color: #D9C39F;
    font-weight: 600;
    font-family: "Manrope", sans-serif;
    border-radius: 50px;
    border: solid 2px #D9C39F;
    color: white;
    transition: 250ms ease-in-out;
}
.commentButton:hover{
  cursor: pointer;
  box-shadow: 0px 0px 50px #e3c189;
}
.noCommentsText{
    font-family: "Manrope", sans-serif;
    font-size: 16px;
    color: #445961;
    text-align: center;
    margin: 50px 0;
}
.editCommentButton{
    height: 30px;
    margin-left: 5px;
    padding: 2px 15px;
    border: none;
    font-size: 12px;
    z-index: 16;
    border: 1px solid #445961;
    background-color: #445961;
    font-weight: 600;
    border-radius: 50px;
    color: white;
    transition: 250ms ease-in-out;
}
.editCommentButton:hover{
    cursor: pointer;
    background-color: white;
    color: #445961;
}
